// home 页面css样式
.theme-container .home .hero img {
    max-width: none;
    max-height: none;
    width: 460px;
    border-radius: 10px;
    margin: 2rem auto 1rem;
}

.theme-container .home .hero h1 {
    font-size: 2.5rem;
    margin: 1rem auto;
}

.theme-container .home .hero h1 {
    font-size: 2.5rem;
    margin: 1rem auto;
}

.theme-container .home .hero .description {
    font-size: 1.4rem;
    margin: 1rem auto;
    margin: 1.2rem auto;
}
.theme-container .home .hero .action {
    margin: 1.2rem auto;
}